.ErrorMessageClass {
    color: var( --error-color )
}

form {
    input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
        width: 98%;
        padding: 8px 1vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
        border-radius: 5px; 
        box-sizing: border-box;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
        border: 1px solid var( --primary-accent-color-light );
    }

    .ErrorTooltipClass {
        display: none;
        flex-direction: row;
        align-items: center;
        padding-bottom: 40px;

        img {
            height: 24px;
            padding-inline: 15px;
        }
    }    

    .ErrorTooltipClass, .ErrorTooltipClass>span {
        font-size: 10pt;
        font-weight: bold;
        color: red;
    }

    #acceptanceTooltipId {
        padding-top: 30px;
    }

    .PhoneAndMailClass {
        display: flex;
        flex-direction: row;
        width: 99%;
        
        #phoneDivId {
            width: 100%;
        }

        #mailDivId {
            width: 100%;
        }

        div {
            margin-inline: 0;
            padding-inline: 0;
        }

        @media( max-width: 840px ) {
            flex-direction: column;
        }
    }

    #lblAcceptanceId {
        cursor: pointer;
        padding: 0;
        margin-left: 10px;
    }

    input[type="checkbox"] {
        cursor: pointer;
        transform: scale( 2 );
        margin-right: 20px;
        accent-color: var( --primary-accent-color-darkest );
        border-color: var( --primary-accent-color-light );
    }

    select {
        width: 98%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 7vh;
        padding-inline: 1vw;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }

    button[type="submit"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 7px;
        font-size: larger;
        width: 98%;
        padding: 10px 30px;
        margin-top: 4vh;
        margin-bottom: 10vh;
        border: 3px solid var( --primary-accent-color-light );
        border-radius: var( --border-radius-small );
        background-color: var( --primary-accent-color-darkmid );
        color: white;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: var( --primary-accent-color-light ); /* Lighter on hover */
            transition: background-color .3s ease;
        }

        &:active { 
            background-color: var( --primary-accent-color-darkest ); /* Darker on press */
            transition: background-color .1s ease;
        }

        &:disabled {
            background-color: var( --disabled-background-color );
            color: var( --disabled-color );
            cursor: not-allowed;
            border: none;
            
            &:hover, &:active{
                background-color: var( --disabled-background-color );
                color: var( --disabled-color );
            }
        }
    }
}