/* Imports */
@import url( "BaseCommonStyles.css" );

/* Variables/Constants */
:root 
{ 
    /* Numeric and Measure Constants/Variables */
    --active-menu-top-bottom-border: 2px solid var( --secondary-accent-color-darkest );
    --active-menu-border-radius: 4px;
    --active-menu-text-shadow: 1px 1px 15px var( --secondary-accent-color-darkest );
}

* { 
    font-size: 13pt;
    font-family: Poppins;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Header Section - Estilo del Encabezado */

header {
    height: 70px;
    background: var( --primary-accent-color-darkest-70 );
    backdrop-filter: blur( 10px );
    color: white;
    padding: 0;
    gap: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
  
        li {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: var( --foreground-white-color-61 );
                text-decoration: none;
                height: 100%;
            }

            &:hover {
                border-top: var( --active-menu-top-bottom-border );
                border-bottom: 2px solid transparent;
                border-radius: var( --active-menu-border-radius );
                
                a {
                    color: white;
                    text-shadow: var( --active-menu-text-shadow );
                }
            }
        }
    }
}

.ActivePageMenu { /* Style for the selected menu based on current page, this style exist also in the theme script to hover on menus, this and that one must match and be the same  */
    border-top: var( --active-menu-top-bottom-border );
    border-bottom: 2px solid transparent;
    border-radius: var( --active-menu-border-radius );
                
    a {
        color: white;
        text-shadow: var( --active-menu-text-shadow );
    }
}

.HeaderLogoDivClass {
    width: 30%;
    justify-content: right;

    a img {
        cursor: pointer;
        opacity: .85;
    }
}

.HeaderLinksClass {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;

    a {
        text-decoration: none;
        padding-inline: 2vw;
        height: fit-content;
    }

    @media( max-width: 1217px ) {
        flex-direction: column;
        justify-content: center;
        
        a {
            padding-top: 40px;
            width: fit-content;
            margin-inline: auto;
        }
    }
}