.Productos {
    width: var( --width-covering );
    margin-left: var( --margin-left-covering );
    padding-top: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}