---
import '../styles/indexStyles.css';
import '../styles/ProductosStyles.css';
import Layout from '../layouts/Layout.astro';
import ClarkCodesAudioPlayer from '@components/ClarkCodesAudioPlayer.astro';
import ProductGrouper from '@components/ProductGrouper.astro';
import loveThingCoverImg from '@assets/images/Satriani-BCN-2023-1.jpg';
import alwaysWithCoverImg from '@assets/images/Satriani-2-1140x500.jpg';
import fruitsHeart from '@assets/images/fruits-heart-2048x2048.webp';
import { Image } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';
export const prerender = true;
---
<ClientRouter/>
<Layout title="Inicio" description="Página de Inicio de Petals&Fruits, mira lo que tenemos para ti">
	<div id="landingWelcomeDivId">
		<h1>Dílo con Flores...<br> Exprésalo con Frutas</h1>
	</div>
	<!-- Sección Principal -->
	<main>
		<section class="ActionCalling">
			<h2>¡Elige tu arreglo perfecto!</h2>
			<p>Entregamos frescura y elegancia directamente a tu hogar.</p>
			<button onclick="window.location.href='/ProductosServicios/'">Explorar Productos</button>
		</section>
		<div class="Separator"></div>
		<section class="Productos">
			<h2>Top Productos más elegidos</h2>
			<ProductGrouper populars={true} server:defer >
				<div id="loaderContainerId" slot="fallback">
					<div class="loader"></div>
				</div>
			</ProductGrouper>
		</section>
		<section class="Quote">
			<div>
				<i><q>El amor es un fruto que madura en todas las estaciones<br>y que se encuentra al alcance de todas las manos.</q></i><br>
				<span>Maria Teresa de Calculta</span>
			</div>                
		</section>
		<div class="Separator"></div>
		<div id="landingPicture2DivId">
			<h1>Llena sus vidas de flores y amor<br>mientras los puedes abrazar.</h1>
			<button onclick="window.location.href='/ProductosServicios/'">Elige el Regalo Perfecto</button>
		</div>
		<div class="Separator"></div>
		<section class="FigureClass">
			<figure> 
				<Image src={fruitsHeart} alt="Corazón de Frutas" width="700" decoding="async" loading="lazy"/>
				<figcaption>Figura: Corazón hecho de Frutas.</figcaption>
				<h2 class="IntermidiateTitle">Llega a sus corazónes,<br>contenta con Frutas sus almas.</h2>
			</figure> 
		</section>
		<section id="audioPlayerSectionId">
			<ClarkCodesAudioPlayer src="/audios/Love Thing.mp3" songName="Love Thing" artist="Joe Satriani" album="Crystal Planet" coverImg={loveThingCoverImg.src} autoplay/>
		</section>
		<h2 class="IntermidiateTitle">Así como nuestras Flores y Frutas...<br>¡Disfruta de una buena Música!</h2>
		<section id="audioPlayerSectionId">
			<ClarkCodesAudioPlayer src="/audios/Always With Me, Always With You.mp3" songName="Always with me, always with you" artist="Joe Satriani" album="Surfing with the alien" coverImg={alwaysWithCoverImg.src} />
		</section>
		<div class="Spacer"></div>
		<div class="Separator"></div>
		<section class="RazonesEleccion">
			<h2>Preguntas Frecuentes</h2>
			<div>
				<details>
					<summary>
						¿Por qué comprar tu regalo en Petals&Fruits?
					</summary> 
					<p>
						Nuestra tienda cuenta con arreglos exclusivos en Flores y Frutas, de todo tipo y 
						para todo tipo de presupuesto, desde muy elaboradas hasta opciones más económicas pero 
						que conservan la elegancia y atención al detalle que nos caracterizan. Los mejores 
						arreglos de Frutas y Flores para los que más quieres.
					</p>
				</details>
				<details>
					<summary>
						¿Qué regalos Puedes comprar?
					</summary>
					<p>
						Puedes obtener cualquiera que gustes sin restricción, y en la cantidad que necesites, 
						pero en cuanto a motivos de regalo, contamos con arreglos para san valentin, para el día 
						de las madres y del padre, para toda ocasión de parejas (novio/a y/o esposo/a), para cumpleaños, 
						además, puedes hacer tu pedido personalizado con arreglos exclusivos que todavía no existan, 
						con tus indicaciones y a tu gusto.
					</p>
				</details>
				<details>
					<summary>
						¿Cómo se puede realizar el pago?
					</summary>
					<p>
						Por ahora solo es posible pagar en una tienda en efectivo y con tarjeta de creédito o débito, 
						sin embargo se tienen planes para que en un futuro próximo se pueda realizar el pago en línea con 
						por diferentes canales con las opciones más populares.
					</p>
				</details>
			</div>
		</section>
		<div class="Separator"></div>
	</main>
</Layout>