---
import Layout from '../layouts/Layout.astro';
import '/styles/NuestroEquipoStyles.css';
import josephKentImg from '@assets/images/Clark.webp';
import petter from '@assets/images/Petter.webp'; 
import andrea from '@assets/images/Andrea.webp';
import infografia from '@assets/images/infografia_productividad.webp';
---
<Layout title="Nuestro Equipo" description="Página de Nuestro Equipo, conoce quienes trabajamos para darte lo mejor en la industria">
	<div id="pageMainImageDivId">
		<h1>Nuestro Equipo<br>de Colaboradores</h1>
	</div>
	<!-- Sección Principal -->
	<main>
		<section id="equipo">
			<h2>Integrantes</h2>
			<div id="integrantesDivId">
				<div class="Miembro">
					<img src={josephKentImg.src} alt="Joseph Kent">
					<h3>Joseph Kent</h3>
					<p>Especialista en arreglos frutales y en el diseño innovador de composiciones frescas y naturales.</p>
				</div>
				<div class="Miembro">
					<img src={petter.src} alt="Petter Acosta Espinoza">
					<h3>Petter Acosta Espinoza</h3>
					<p>Fundador y líder del equipo, experto en la creación de arreglos florales personalizados.</p>
				</div>
				<div class="Miembro">
					<img src={andrea.src} alt="Andrea Salinas Martinez">
					<h3>Andrea Salinas Martínez</h3>
					<p>Coordinadora de eventos y encargada de la atención al cliente, asegurando que cada cliente quede satisfecho.</p>
				</div>
			</div>                
		</section>
		<div id="ourTeamPicture2DivId">
			<h1>Creatividad, pasión y programación...<br>Trabajo en Equipo.</h1>
		</div>
		<section id="infografia">
			<h2>Nos enfocamos en la Productividad de nuestros Colaboradores</h2>
			<figure> 
				<img src={infografia.src} alt="Infografia de la Productividad" >
				<figcaption>Infografía: Productividad Real en el Trabajo.</figcaption>
			</figure> 
		</section>
		<section id="ListaEquipoTrabajo">
			<h2>Fomentamos características beneficiosas al equipo</h2>
			<ul>
				<li>Trabajo en Equipo Participativo</li>
				<li>Crecimiento personal y colectivo</li>
				<li>Objetivos comunes y definidos</li>
				<li>Fomentar la creatividad</li>
				<li>Aumento la motivación</li>
				<li>Crecimiento en la sinergia</li>
				<li>Mejorar la comunicación</li>
				<li>Resolución de Problemas</li>
				<li>Organización</li>
				<li>Compromiso</li>
			</ul>
		</section>
		<section id="frase">
			<h2>Porque tu lo mereces</h2>
			<span>Personas felices trabajan en Petals&Fruits, colaboradores que llevan la felicidad a los clientes.</span>
		</section>
		<section id="trabajo">
			<h2>¿Quieres trabajar con nosotros?</h2>
			<p>Llena el formulario de contacto indicando que en motivo que deseas unirte a nuestro equipo 
				y recursos humanos te contactará en función de nuestras vacantes actuales.
			</p>
			<button onclick="window.location.href='/Contactenos/'">Solicitar Empleo</button>
		</section>
	</main>
</Layout>