---
import Layout from '../layouts/Layout.astro';
import '../styles/ProductosServiciosStyles.css'
---

<Layout title="Productos y Servicios" description="P치gina de Productos y Servicios, revisa lo que te ofrecemos y escoge lo que quieras">
	<div id="pageMainImageDivId">
		<h1>Del campo...<br>A tus manos.</h1>
	</div>
	<!-- Secci칩n Principal -->
	<main>
		<section id="contenidoSectionId">
			<h2 onclick="handleMessageClick();" style="cursor: pointer;">Contenido</h2>
			<nav>
				<h3>Arreglos Florales</h3>
				<ul>
					<li><a href="#sanValentinTitleId">San Valent칤n</a></li>
					<li><a href="#parejasTitleId">Parejas</a></li>
					<li><a href="#diaPadreMadreTitleId">D칤a de la Madre y del Padre</a></li>
					<li><a href="#cumpleaniosTitleId">Cumplea침os</a></li>
				</ul>
				<h3>Arreglos Frutales</h3>
				<ul>
					<li><a href="#gourmetTitleId">Gourmet</a></li>
					<li><a href="#chocoFresasTitleId">ChocoFresas</a></li>
					<li><a href="#elegantesTitleId">Elegantes</a></li>
					<li><a href="#surtidosTitleId">Surtidos</a></li>
					<li><a href="#infantilesTitleId">Infantiles</a></li>
				</ul>
			</nav>
		</section>
		<h2>Arreglos Florales</h2>
		<section class="Productos">
			<h2 id="sanValentinTitleId">San Valent칤n</h2>
			<div class="GrupoProductos">
				<div class="producto" >
					<img src="../common/images/CorazonGirasoles.webp" alt="Coraz칩n de Girasoles">
					<h3>Coraz칩n de Girasoles</h3>
					<p>Refinadas Rosas Rojas adornadas con Girasoles en el borde, y con chocolates Ferrero Rocher en el centro.</p>
				</div>
				<div class="producto" >
					<img src="../common/images/LetraRosas.jpg" alt="Letra de Rosas">
					<h3>Letra de Rosas</h3>
					<p>Elegante fondo de Rosas Rojas con letras en el centro formadas con Rosas Blancas.</p>
				</div>
				<div class="producto" >
					<img src="../common/images/Bouquet-RosasRosadas_1280.jpg" alt="Bouquet de Rosas Pastel">
					<h3>Esfera de Rosas Pastel</h3>
					<p>Sofisticado y fino ramo esf칠rico de Rosas grandes y peque침as, con colores pastel violeta y Rosado.</p>
				</div>
				<div class="producto" >
					<img src="../common/images/valentine-BouquetRegaloRosasClaras_1280.jpg" alt="Caja Bouquet de Rosas Claras">
					<h3>Caja Bouquet de Rosas Diversas</h3>
					<p>Colorido arreglo de Rosas variadas de diferente tipo en una hermosa caja cil칤ndrica.</p>
				</div>
			</div>
			<h2 id="parejasTitleId">Parejas</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Bouquet-Lilas_1280.jpg" alt="Bouquet de Lilas">
					<h3>Bouquet de Lilas</h3>
					<p>Ramo de Lilas elegantemente armado.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Bouquet-VerdeSublime_1280.jpg" alt="Bouquet Verde Sublime">
					<h3>Bouquet Verde Sublime</h3>
					<p>Sofisticado arreglo circular con flores verdes y lavanda, de aspecto m치gico y encantador.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Ramo-Violetas_1280.jpg" alt="Ramo de Violetas Rom치nticas">
					<h3>Ramo de Violetas Rom치nticas</h3>
					<p>Ramo de Flores violetas abiertas, irradia romanticismo.</p>
				</div>
				<div class="producto">
					<img src="../common/images/vase-FloresClaras_1280.jpg" alt="Florero de Flores Claras">
					<h3>Florero de Flores Claras</h3>
					<p>Elegante vasija con rosas y flores de colores claros.</p>
				</div>
				<div class="producto">
					<img src="../common/images/wedding-BouquetVinculo_1280.jpg" alt="Bouquet V칤nculo">
					<h3>Bouquet V칤nculo</h3>
					<p>Fino ramo armado con rosas blancas puras y rosadas, con un aspecto excelso.</p>
				</div>
			</div>
			<h2 id="diaPadreMadreTitleId">D칤a de la Madre y del Padre</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Clasico.webp" alt="Canasta Cl치sica">
					<h3>Canasta Cl치sica</h3>
					<p>Una canasta con flores variadas, muy usadas en 칠pocas de ayer y hoy.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Paternal.webp" alt="Arreglo Paternal">
					<h3>Paternal</h3>
					<p>Vaso sobrio con Flores y Ramas de colores contrastantes, producen calma y vitalidad, perfecto para padres.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Seniorial.jpg" alt="Arreglo Se침orial">
					<h3>Se침orial</h3>
					<p>Arreglo grande de Rosas Blancas, magistral con un toque cl치sico.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Tulipanes_1280.jpg" alt="Tulipanes Paternales">
					<h3>Tulipanes Paternales</h3>
					<p>Tulipanes para aquellos de gustos espec칤ficos, con un color vibrante.</p>
				</div>
				<div class="producto">
					<img src="../common/images/vase-Imperial_1280.jpg" alt="Florero Imperial">
					<h3>Florero Imperial</h3>
					<p>Con flores variadas, un balance entre variedad y elegancia suprema, viene con una vasija rectangular de piedra labrada, una pieza artesanal y art칤stica de estilo renacentista que le da el toque supremo.</p>
				</div>
			</div>
			<h2 id="cumpleaniosTitleId">Cumplea침os</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Bouquet-RosasBlancasAmarillas_1280.jpg" alt="Rosas Blancas y Amarillas">
					<h3>Caja Presente de Rosas</h3>
					<p>Rosas Blancas y Amarillas en una caja de obsequio con un lacito, elegante y detallista.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Bouquet-RosasBlancasLirios_1280.jpg" alt="Bouquet de Rosas Blancas y Lirios">
					<h3>Bouquet Austral</h3>
					<p>Fino entramado de Rosas Blancas y Lirios, id칩neo para familiares y amigos, para aquellos a quien desee mostrarles confianza.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Bouquet-ColoridoDiverso_1280.jpg" alt="Bouquet Colorido Diverso">
					<h3>Bouquet Colorido Diverso</h3>
					<p>Supremamente elegante entramado de Rosas y Flores coloridas, de tonos pasteles, estupendo obsequio desbordante de elegancia.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Canasta-GirasolesRosasClaras_1280.jpg" alt="Canasta de Girasoles y Rosas Claras">
					<h3>Canasta Sol Rosa</h3>
					<p>Canasta de Girasoles con Rosas, acojedor y de estilo hogare침o.</p>
				</div>
			</div>
		</section>
		<section class="Remember">
			<h2>춰Recuerda!</h2>
			<p>
				Los arreglos florales y frutales en las diferentes categor칤as son solo una sugerencia para cada  
				ocasi칩n, pero realmente puedes comprar el arreglo que quieras para la ocasi칩n que quieras, lo bueno de 
				todos nuestros arreglos es que cada uno de ellos ponderan una alta calidad, atenci칩n al detalle y 
				una est칠tica profesional, por lo que al final, todos ellos quedar치n espectacularmente bien en cualquier tipo de ocasi칩n.
			</p>
		</section>
		<h2>Arreglos Frutales</h2>
		<section class="Productos">
			<h2 id="gourmetTitleId">Gourmet</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Frutal_Gourmet_BerrySandia_1280.jpg" alt="Berry Sandia">
					<h3>Berry Sandia</h3>
					<p>Frutas tropicales frescas: sandia, ar치ndanos, moras y frambuesas.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Gourmet_Piqueos-2048x2048.jpg" alt="Piqueos">
					<h3>Piqueos</h3>
					<p>Un toque gourmet con frutas seleccionadas sobre una base de mel칩n, ideal para regalar a los m치s exigentes.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Gourmet_CopaSaludable-2048x2048.jpg" alt="Copa Saludable">
					<h3>Copa Saludable</h3>
					<p>Una copa con frutas adecuadas, tanto diur칠ticas como para el sistema digestivo.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_Gourmet_SunnyBlue-2048x2048.jpg" alt="Sunny Blue">
					<h3>Sunny Blue</h3>
					<p>Un toque gourmet excelso y premium, con frutas tropicales, decoradas de manera exquisita.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_Gourmet_Degustacion-2048x2048.jpg" alt="Degustaci칩n">
					<h3>Degustaci칩n</h3>
					<p>Frutas cortadas en rodajas, con forma de flor, con pistachos, frambuesas y moras.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_Gourmet_RebanadasFrutales-2048x2048.webp" alt="Rebanadas Frutales">
					<h3>Rebanadas Frutales</h3>
					<p>Una bandeja variada de frutas cortadas en rodajas y rebanadas, ideal para comer en la ma침ana y compartir.</p>
				</div>
			</div>
			<h2 id="chocoFresasTitleId">ChocoFresas</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Frutales_ChocoFresas_BaniadoParcial-2048x2048.jpg" alt="Ba침ado Parcial">
					<h3>Ba침ado Parcial</h3>
					<p>Vaso de Fresas naturales con Fresas ba침adas en chocolate derretido, adornadas con chocolate blanco y aderezadas con man칤.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_ChocoFresas_Multisabor-2048x2048.jpg" alt="Multisabor">
					<h3>Multisabor</h3>
					<p>Un variado vaso con fresas naturales, y ba침adas en chocolate pero aderezadas con diferentes deliciosos aditivos entre man칤, coco, chocolate blanco y el que tu elijas.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_ChocoFresas_Empastadas-2048x2048.jpg" alt="Empastadas">
					<h3>Empastadas</h3>
					<p>Para los amantes del chocolate puro, son Fresas ba침adas en puro chocolate negro, enfriadas para un toque empastado.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_ChcoFresas_GlaciaresMagnum-2048x2048.jpg" alt="Glaciares Magnum">
					<h3>Glaciares Magnum</h3>
					<p>Una opci칩n Gourmet Premium con Fresas ba침adas en chololate suizo Magnum de la m치s alta calidad, aderezadas con diferentes aditamentos como coco rallado, chispas de chocolate y lineas de dulce de leche, curadas al fr칤o, un manjar de dioses.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutales_ChocoFresas_Fresas de Pascua-2048x2048.jpg" alt="Fresas de Pascua">
					<h3>Glaciares de Pascua</h3>
					<p>Son Fresas Glaciares Magnum con motivos de huevos de pascua, as칤 como aderezos adicionales que le dan un valor agregado exquisito.</p>
				</div>
			</div>
			<h2 id="elegantesTitleId">Elegantes</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Frutal_Elegante_Plenitud.jpg" alt="Plenitud">
					<h3>Plenitud</h3>
					<p>Fresas, uvas y pi침as, con lindas formas y en un arreglo con una alta elegancia.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Elegante_FrescuraPalmerina.webp" alt="Frescura Palmerina">
					<h3>Frescura Palmerina</h3>
					<p>Fresas, mel칩n, uvas y pi침a, en una arreglo con motivo de palmera, esteticamente elaborado.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Elegante_PiniaHawaiana.jpg" alt="Pi침a Hawaiana">
					<h3>Pi침a Hawaiana</h3>
					<p>Alta dotaci칩n de Pi침a Hawaiana con fresas, delicioso para cualquier amante de la pi침a.</p>
				</div>
			</div>
			<h2 id="surtidosTitleId">Surtidos</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Frutal_Surtido_Personal.jpg" alt="Personal">
					<h3>Personal</h3>
					<p>Dotaci칩n personal de frutas variadas.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Surtido_Familiar_1280.jpg" alt="Familiar">
					<h3>Familiar</h3>
					<p>Canasta familiar de frutas variadas, espectacular para obsequiar en reuniones familiares y amistosas.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Surtido_CanastaPoderosa_1280.png" alt="Canasta Poderosa">
					<h3>Canasta Poderosa</h3>
					<p>Una Gran Canasta con muchas frutas variadas, de peque침o y mediano tama침o.</p>
				</div>
			</div>
			<h2 id="infantilesTitleId">Infantiles</h2>
			<div class="GrupoProductos">
				<div class="producto">
					<img src="../common/images/Frutal_Infantil_Fiestero.webp" alt="Fiestero">
					<h3>Fiestero</h3>
					<p>Vaso con Fresas, Moras, Uvas y Galletas, adecuado para fiestas infantiles.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Infantiles_CanastitaFeliz-2048x2048.webp" alt="Canastita Feliz">
					<h3>Canastita Feliz</h3>
					<p>Canasta peque침a de paja toquilla armada artesanalmente, con frutas variadas como Fresas, Mandarinas, Uvas, Naranjas y Pi침a adornada como carita feliz con jalea de chocolate.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Infantil_CanastonGrupal-2048x2048.webp" alt="Canast칩n Grupal">
					<h3>Canast칩n Grupal</h3>
					<p>Vaso Grande con frutas variadas como Fresas, Uvas, Pi침a y Naranja, ideal para compartir en grupo.</p>
				</div>
				<div class="producto">
					<img src="../common/images/Frutal_Infantil_JarrosFrutales-2048x2048.jpg" alt="Jarritos Frutales">
					<h3>Jarritos Frutales</h3>
					<p>Jarros personales con frutas variadas, con aderezos opcionales, adecuado para sorpresas para ni침os en fiestas infantiles.</p>
				</div>
			</div>
		</section>
		<section id="videoDIYRecomendacionArreglo">
			<h2>Tambi칠n puedes hacerlo tu mismo en casa</h2>
			<iframe id="youtubeVideoId" width="900" height="520" src="https://www.youtube.com/embed/kKCzeJ9IEh4" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen title="Video de YouTube: Crea un arreglo de flores y frutas para tu madre | Un Nuevo D칤a | Telemundo">
					Crea un arreglo de flores y frutas para tu madre | Un Nuevo D칤a | Telemundo游눜
			</iframe>
		</section>
		<section id="beneficios">
			<h2>Beneficios de adquirir Arreglos Florales</h2>
			<ol>
				<li>Sostenibilidad Ambiental</li>
				<li>Apoyo a la Econom칤a Local</li>
				<li>Personalizaci칩n y Relaci칩n con el Florista</li>
				<li>Percepci칩n de Colores y Fragancias Naturales</li>
				<li>Fomento de la Agricultura Local</li>
				<li>Promoci칩n de la Cultura Local</li>
				<li>Reducci칩n del Estr칠s y la ansiedad</li>
				<li>Est칤mulo de emociones positivas</li>
				<li>Promoci칩n de la concentraci칩n y la creatividad</li>
				<li>Purificaci칩n del aire</li>
				<li>Aromaterapia floral</li>
				<li>Estimulaci칩n cognitiva</li>
			</ol>
		</section>
		<section id="FloresYSusBeneficios">
			<h2>Beneficios de las Flores</h2>
			<table border="1">
				<caption>Tabla de Referencia: Flores y sus Beneficios</caption>
				<tr>
					<th>Flor</th> 
					<th>Beneficios</th>
					<th>Cuidados</th>
					<th>Temporada Ideal de Cultivo</th>
				</tr>
				<tr>
					<td>Rosa</td>
					<td>Mejora el estado de 치nimo, s칤mbolo de amor y aprecio.</td>
					<td>Riego regular, luz solar directa, poda anual</td>
					<td>Primavera a principios de oto침o</td>
				</tr>
				<tr>
					<td>Lavanda</td>
					<td>Propiedades relajantes, ayuda a aliviar el estr칠s y mejorar el sue침o.</td>
					<td>Suelo bien drenado, luz solar plena, poda ocasional</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Girasol</td>
					<td>Estimula la energ칤a positiva, asociado con la vitalidad y la felicidad.</td>
					<td>Suelo bien drenado, luz solar plena, riego regular</td>
					<td>Primavera a principios de oto침o</td>
				</tr>
				<tr>
					<td>Cal칠ndula</td>
					<td>Antiinflamatorio, se utiliza en productos para el cuidado de la piel.</td>
					<td>Suelo f칠rtil, riego moderado, luz solar plena</td>
					<td>Primavera a finales de verano</td>
				</tr>
				<tr>
					<td>Tulip치n</td>
					<td>Representa la elegancia y la frescura, puede elevar el estado de 치nimo.</td>
					<td>Suelo bien drenado, luz solar parcial a completa</td>
					<td>Oto침o para tulipanes de primavera</td>
				</tr>
				<tr>
					<td>Orqu칤dea</td>
					<td>Mejora la concentraci칩n y el equilibrio emocional, adecuada para interiores.</td>
					<td>Sustrato espec칤fico, riego controlado, luz indirecta</td>
					<td>Todo el a침o, dependiendo de la variedad</td>
				</tr>
				<tr>
					<td>Jazm칤n</td>
					<td>Fragancia relajante, asociado con la reducci칩n del estr칠s y la ansiedad.</td>
					<td>Suelo bien drenado, luz solar completa</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Crisantemo</td>
					<td>Conocido por sus propiedades medicinales en algunas culturas, se asocia con la vida y la alegr칤a.</td>
					<td>Suelo bien drenado, luz solar completa</td>
					<td>Primavera a mediados de oto침o</td>
				</tr>
				<tr>
					<td>Clavel</td>
					<td>Variedad de colores y significados, se utiliza en aromaterapia.</td>
					<td>Suelo bien drenado, riego moderado, luz solar completa</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Margarita</td>
					<td>Representa la pureza y la inocencia, puede tener propiedades calmantes.</td>
					<td>Suelo f칠rtil, riego regular, luz solar completa</td>
					<td>Primavera a finales de verano</td>
				</tr>
				<tfoot> 
					<tr>
						<td colspan="4">
							Fuente: <a href="https://floryou.com.mx/florerias-en-queretaro/flores-a-domicilio/arreglos-de-flores/beneficios-de-las-flores/?srsltid=AfmBOoqnb18QXHaS0ESXfUCybuSs784shpqFYlCQgltcrOtDbrC1mQjW" target="_blank">FlorYOU.com.mx</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</section>
	</main>
</Layout>

<script>
	// Evento para mostrar un mensaje de bienvenida cuando se haga clic en los botones
	function handleMessageClick() {
		alert("춰Gracias por explorar los productos de Petals&Fruits!");
	}

	// Evento cuando la p치gina se carga completamente
	window.onload = function() {
		console.log("Bienvenido a la tienda Petals&Fruits. 춰Estamos felices de que est칠s aqu칤!\nTenemos una extensa diversidad de Productos para ti, 춰Disfrutalos!.");
		
		// Asignamos en las propiedades de eventos mouseover and mouseout no solo de algunos sino de todos los elementos con la clase .producto recorriendolos todos
		document.querySelectorAll( '.producto' ).forEach( p => 
		{ 
			p.setAttribute( 'onmouseover', "handleMouseOver( this, this.querySelector( 'img' ) )" );
			p.setAttribute( 'onmouseout', "handleMouseOut( this, this.querySelector( 'img' ) )" );
		} );
	}

	// Evento para cambiar el borde de la imagen cuando el mouse pasa sobre un producto
	function handleMouseOver( container, productImage ) {
		container.style.border = "3px solid lightgreen" // Cambio de color de borde
		productImage.style.border = "2px solid lightgreen";
	}

	function handleMouseOut( container, productImage ) {
		container.style.border = ""; // Eliminar el borde cuando el mouse se va
		productImage.style.border = "";
	}
</script>