@import url( "/public/styles/BaseCommonStyles.css" );
/*@import url( "../theme/themeStyles.css" );*/

.ContentClass {
    display: flex;
    flex-direction: row;
    
    @media( max-width: 840px ) {
        flex-direction: column;
    }
}

.ContactenosClass {
    width: 100%;
    padding-right: 20px;

    p {
        width: 98%;
    }
}

.ResultadoClass {
    visibility: hidden;
    margin-inline: auto;
    width: 80%;
    padding-right: 40px;

    p {
        padding-bottom: 30px;
    }
}

form {
    input[type="text"], input[type="email"], input[type="tel"]  {
        width: 98%;
        padding: 8px 1vw;
        margin-top: 1vh;
        margin-bottom: 3vh;
        border-radius: 4px; 
        box-sizing: border-box;
    }

    .ErrorTooltipClass {
        display: none;
        flex-direction: row;
        align-items: center;
        padding-bottom: 40px;

        img {
            height: 24px;
            padding-inline: 15px;
        }
    }    

    .ErrorTooltipClass, .ErrorTooltipClass>span {
        font-size: 10pt;
        font-weight: bold;
        color: red;
    }

    #acceptanceTooltipId {
        padding-top: 30px;
    }

    .PhoneAndMailClass {
        display: flex;
        flex-direction: row;
        width: 99%;
        
        #phoneDivId {
            width: 100%;
        }

        #mailDivId {
            width: 100%;
        }

        div {
            margin-inline: 0;
            padding-inline: 0;
        }

        @media( max-width: 840px ) {
            flex-direction: column;
        }
    }

    #lblAcceptanceId {
        cursor: pointer;
        padding: 0;
        margin-left: 10px;
    }

    input[type="checkbox"] {
        cursor: pointer;
        transform: scale( 2 );
        margin-right: 20px;
    }

    select {
        width: 98%;
        padding: 8px;
        margin-top: 1vh;
        margin-bottom: 7vh;
        padding-inline: 1vw;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
    }

    input[type="submit"] {
        background: url( "/public/icons/send_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg" ) no-repeat;
        background-position-x: 20.7vw;
        background-position-y: center;
        background-size: 30px;
        font-size: larger;
        border: none;
        width: 98%;
        padding: 10px 30px;
        margin-top: 4vh;
        margin-bottom: 10vh;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;

        &:disabled {
            background-color: var( --disabled-background-color );
            color: var( --disabled-color );
            cursor: not-allowed;
            border: none;
            
            &:hover, &:active{
                background-color: var( --disabled-background-color );
                color: var( --disabled-color );
            }
        }

        @media( max-width: 1840px ) {
            background-position-x: 20vw;
        }
    
        @media( max-width: 1640px ) {
            background-position-x: 19.5vw;
        }

        @media( max-width: 1440px ) {
            background-position-x: 18.5vw;
        }

        @media( max-width: 1240px ) {
            background-position-x: 17.5vw;
        }

        @media( max-width: 1040px ) {
            background-position-x: 15vw;
        }

        @media( max-width: 840px ) {
            background-position-x: 32vw;
        }

        @media( max-width: 750px ) {
            background-position-x: 31vw;
        }

        @media( max-width: 640px ) {
            background-position-x: 28vw;
        }

        @media( max-width: 540px ) {
            background-position-x: 25vw;
        }
    }
}