---
import '../../styles/ProductDetailsStyles.css';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Detalles" description="Detalles del producto seleccionado">
<div style="width: 100dvw; height: 100%;" >
    <p style="text-align: center;">
        Pagina en Construccion Pronto estara disponible, gracias!
    </p>
</div>
</Layout>