---
import Layout from "../../layouts/Layout.astro";
import '/src/styles/global.css';
import { ClientRouter } from "astro:transitions";
import { getProduct } from './utils';

const { product_id } = Astro.params;
const product = ( await getProduct( Number( product_id ) ) )[0];
---

<Layout>
    <ClientRouter></ClientRouter>
    <div id="productContainerDiv" class="w-full h-2/3 flex flex-row justify-center align-middle">
        <div id="productImgDiv" class="w-1/2 h flex flex-row justify-end p-4">
            <img src={ product.ps_img_path } alt={product.alt} class="size-2/3 rounded-md" transition:name="product-img-transition">
        </div>
        <div id="productInfoDiv" class="w-1/2 flex flex-col justify-start p-4 gap-2">
            <h2 id=productName class="pt-5">{product.ps_name}</h2>
            <p id="productDescription">{product.ps_description}</p>
            <h3 id="productPrice">{product.ps_price}</h3>
            <p id="productNote" class="text-xs italic"><strong>Nota:</strong> Este producto es una vista previa de la version de prueba.</p>
        </div>
    </div>
</Layout>